---
import type { CollectionEntry } from 'astro:content'
import MainLayout from '@src/components/layouts/MainLayout/MainLayout.astro'
import PostHero from '@src/components/organisms/PostHero/PostHero.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, date, image } = Astro.props
---

<MainLayout>
  <section>
    <PostHero
      title={title}
      heroImage={image}
      date={date}
    />
    <div class='markdown'>
      <slot />
    </div>
  </section>
</MainLayout>
