---
import PlansTable from '@src/components/organisms/PlansTable/PlansTable.astro'
import PlansContainer from '@src/components/organisms/PlansContainer/PlansContainer.astro'
---

<PlansContainer />
<div class='divider-md'></div>
<PlansTable />
