@import "../../assets/sass/typography";
@import "../../assets/sass/colors";

.header {
  box-shadow: $component-shadow;
  color: var(--color-black);
  backdrop-filter: blur(10px);
  &-nav {
    font-family: $font-secondary;
  }
  &-a {
    color: var(--color-black);
  }
}
