html {
  scroll-padding-top: 25vh;
  // scrollbar-width: thin;
  scrollbar-color: $primary var(--bs-body-bg);
}

.card {
  backdrop-filter: blur(15px);
  background-color: rgba($dark, 0);
}

.divider-sm {
  width: 100%;
  height: 2.5rem;
}

.divider-md {
  width: 100%;
  height: 5rem;
}

.divider-lg {
  width: 100%;
  height: 10rem;
}

.divider-xl {
  width: 100%;
  height: 15rem;
}

.divider-xxl {
  width: 100%;
  height: 20rem;
}

.swiper-pagination-bullet-active {
  background: $secondary !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: $secondary !important;
}
