// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:ital,wght@0,300;1,300');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// Me
@import '@src/sass/_variables';
@import '@src/sass/base';
@import '@src/sass/markdown';

// Source mixin
// Bootstrap
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/mixins';

:root,
[data-bs-theme='light'] {
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
}

@import '@src/sass/patterns';
@import '@src/components/organisms/Header/Header';
@import '@src/components/organisms/WorksSlider/WorksSlider';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
// @import 'bootstrap-icons/font/bootstrap-icons';

@import '@src/sass/_variables-dark';
@import '@src/sass/kj_theme';
