.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1rem 0px 1rem 0px;
  }
  img {
    width: 100%;
    margin: 1rem 0rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border-radius: 0.5rem;
  }
  table,
  th,
  td {
    padding: 1rem 1.25rem;
    border: 1px solid var(--bs-primary);
  }
  table {
    margin-bottom: 1rem;
  }
  hr {
    margin: 3rem 0;
  }
  p {
    font-size: 1.1em;
    margin: 0rem 0rem 1rem 0rem;
  }
  h1 {
    font-size: $h1-font-size;
  }
  h2 {
    font-size: $h2-font-size;
  }
  h3 {
    font-size: $h3-font-size;
  }
  h4 {
    font-size: $h4-font-size;
  }
  h5 {
    font-size: $h5-font-size;
  }
  h6 {
    font-size: $h6-font-size;
  }
 ul {
    font-size: 1em;
    background-color: $gray-100;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    // padding: .3rem 1rem .3rem 1rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    li {
      list-style-type:disc;
      margin: 1rem 0rem 1rem 0rem;
/*       &:before {
        display: inline;
        content: '🔵 ';
      } */

      p {
        display: inline;
      }
    }
  }
  ol {
    font-size: 1em;
    background-color: $gray-100;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;

    // padding: .3rem 1rem .3rem 2rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  } 
}

pre {
  border-style: dashed;
  border-color: $dark;
  border-width: 2px;
  background-color: $dark !important;
  padding: 2rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
}

[data-bs-theme='dark'] {
  .markdown {
    ul {
      background-color: $gray-800;
    }
    ol {
      background-color: $gray-800;
    }
  }
  pre {
    border-style: dashed;
    border-color: $gray-600;
    border-width: 2px;
    background-color: $dark !important;
    padding: 2rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-radius: 1rem;
  }
}
