---
import './Hero.scss'
import { contact, social } from '@src/config/settings.json'
---

<div class='pattern-wavy'></div>
<div class='pattern-gradient'></div>
<section class='hero align-content-center mb-5'>
  <div class='container-lg'>
    <div
      class='row align-items-center justify-content-center justify-content-lg-between pt-5 g-0'>
      <div class='hero__column-text col-12 col-lg-7'>
        <div class=''>
          <h1 class='hero__h1 display-1 lh-1 mb-4 hyp-none'>
            marianogarciagz:<br />
            <strong class='hero__strong text-primary'>
              Desarrollador fullstack</strong
            >
          </h1>
          <p class='hero__p lead'>
            Soy un programador de Morelia, Michoacán. El código no muerde... a
            menos que lo pidas. Si puedes imaginarlo, <strong class='fw-bold'
              >puedo programarlo</strong
            >.
          </p>
          <div class='d-inline d-md-flex align-items-center gap-1'>
            <a
              class='hero__btn btn btn-warning btn-lg px-4 me-md-2 mt-1'
              href='/assets/CV-ISIC-GARCIA-GUZMAN-MARIANO-ISMAEL.pdf'
              download='CV_Mariano_Garcia.pdf'
              aria-label='Descargar mi CV en formato PDF'>
              Descargar CV
            </a>
            <a
              target='_blank'
              rel='noopener noreferrer'
              class='hero__btn btn btn-info text-white btn-lg px-4 me-md-2 mt-1'
              href={`mailto:${contact.email}`}
              aria-label='Enviar correo electrónico a Mariano García'>
              <i class='bi bi-envelope'></i>
            </a>

            <a
              target='_blank'
              rel='noopener noreferrer'
              class='hero__btn hero__btn--linkedin text-white btn btn-lg px-4 me-md-2'
              href={social.linkedin}>
              <i class='bi bi-linkedin'></i>
            </a>
            <a
              target='_blank'
              rel='noopener noreferrer'
              class='hero__btn btn btn-lg btn-dark px-4 text-white'
              href={social.github}>
              <i class='bi bi-github'></i>
            </a>
          </div>
        </div>
      </div>
      <div class='hero__column-img col-7 col-sm-6 col-md-4 col-lg-4 my-5'>
        <img
          src='./assets/images/mariano-photo.png'
          class='hero__img w-100'
          alt='Mariano Ismael García Guzmán photography'
          loading='eager'
        />
        <p class='hero__column-message badge bg-success mb-0'>
          Disponible para trabajar
        </p>
      </div>
    </div>
  </div>
</section>
