---
import Hero from '@src/components/organisms/Hero/Hero.astro'
import TechSlider from '@src/components/organisms/TechSlider/TechSlider.astro'
import FeaturesGrid from '@src/components/organisms/FeaturesGrid/FeaturesGrid.astro'
import WorksSlider from '@src/components/organisms/WorksSlider/WorksSlider.astro'
import LastCall from '@src/components/organisms/LastCall/LastCall.astro'
import Technologies from '@src/components/organisms/Technologies/Technologies.astro'
---

<div class='divider-sm d-block d-lg-none'></div>
<Hero />

<Technologies />
<!-- <TechSlider /> -->
<div class='divider-lg'></div>
<WorksSlider />
<div class='divider-md'></div>
<LastCall />
<div class='divider-md'></div>
