---
import { Image } from 'astro:assets'
import InfiniteSlider from '../InfiniteSlider/InfiniteSlider.astro'
import InfiniteSliderReverse from '../InfiniteSliderReverse/InfiniteSliderReverse.astro'
---

<section class=''>
    <div class='container'>
        <div class='col-12 col-xl-10 mx-auto'>
            <h2 class='text-center display-5'>Stack de Tecnologías</h2>
            <p class='text-center lead'>
                Estas son algunas de las tecnologías que manejo. De cualquier forma, siempre tengo la disposición de
                aprender nuevas herramientas y seguir ampliando mis conocimientos.
            </p>
        </div>
    </div>

    <InfiniteSlider />
    <InfiniteSliderReverse />
</section>
