---
import './Header.scss'
export interface Props {
  fixed?: boolean
}

const { fixed = false } = Astro.props
import DropdownTheme from '@src/components/organisms/DropdownTheme/DropdownTheme.astro'
---

<header class={`header w-100 glass ${fixed ? 'position-fixed' : 'sticky-top'}`}>
  <div class='container-lg'>
    <nav class='navbar navbar-expand-md'>
      <a
        class='header__logo navbar-brand'
        href='/'
        style='font-family: Bebas Neue !important;'>
        @marianogarciagz
      </a>

      <button
        class='header__navbar-toggler navbar-toggler shadow-none border-0'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#navbarNav'
        aria-controls='navbarNav'
        aria-expanded='false'
        aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>

      <div
        class='collapse navbar-collapse'
        id='navbarNav'>
        <ul class='navbar-nav me-auto border-0 shadow-none'>
          <li class='nav-item mx-auto'>
            <a
              class='nav-link'
              href='/#projects'
              >Proyectos</a
            >
          </li>
          <li class='nav-item mx-auto'>
            <a
              class='nav-link'
              href='/contact'
              >Contacto</a
            >
          </li>
        </ul>

        <div class='d-md-flex col-md-4 justify-content-md-end gap-2'>
          <a
            class='btn btn-primary px-4 d-block d-md-inline-block mb-md-0 mb-2 border-0 rounded-pill shadow-sm'
            href='/blog'>
            <i class='bi bi-substack'></i>
            Blog
          </a>

          <button
            class='header__btn--theme btn-theme btn btn-sm btn-light px-4 dropdown-toggle d-flex align-items-center border-0 rounded-pill shadow-sm d-none d-md-flex z-3'
            id='bd-theme'
            type='button'
            aria-expanded='false'
            data-bs-toggle='dropdown'
            aria-label='Toggle theme (dark)'>
            <i class='bi bi-moon-stars-fill me-2'></i>
            <span
              class='visually-hidden'
              id='bd-theme-text'
              >Toggle theme</span
            >
          </button>
          <DropdownTheme />
        </div>
      </div>
    </nav>
  </div>
</header>
