<section class='container-lg overflow-auto'>
    <h2 class='text-center display-5'>Estadísticas</h2>
    <h3 class='fs-3 mb-4'> <i class="bi bi-github"></i> Commits:</h3>
    <img class="" style="min-width: min-content; width: 100%;" src="https://ghchart.rshah.org/marianogarciagz" alt="GitHub chart" />
</section>