/* ❤️ Fonts */
:root {
    font-family: "IBM Plex Mono", monospace;
    --font-default: "IBM Plex Mono", monospace;
}

/* palette 🎨 */
:root {
    --color-primary: #292e51;
    --color-secondary: #ec3434;
    --color-white: #eeeeee;
    --color-black: #282828;
    --color-yellow: #ffcc00;
    --color-red: #dd3030;
    --color-blue: #18a1db;
    --color-shadow: rgba(0, 0, 0, 0.5);
}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

/* reset */

body {
    font-family: var(--font-default);
    color: var(--color-black);
    overflow-x: hidden;
    background: var(--color-white);
}

/* ⚡ Preset */

/* El div se ocultará cuando el ancho de la pantalla sea menor o igual a 600px */
@media screen and (max-width: 650px) {
    .hidde-mobile {
        display: none;
    }
}

.hyphens-none {
    hyphens: none;
}

.hyphens-manual {
    hyphens: manual;
}

.btn {
    background-color: var(--color-blue);
    border: none;
}

/* index */

/* sections */

.section {
    height: 100vh;
    width: auto;
}

.section__white {
    background-color: var(--color-white);
    color: var(--color-black);
}

.section__black {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* hero */

.hero {
    position: relative;
}
.hero__content {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    position: absolute;
}

.hero__typed {
}
.hero__h1 {
}
.hero__list {
}
.hero__bi {
}

.hero__linkchevron {
}

.chevron__black,

/* TODO check if the chevron is 100% in the center of the screen */
.hero__chevron {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 5%;
}
