<ul
  class='dropdown-menu dropdown-menu-end rounded-4 border-0 p-0 mb-1 z-3'
  aria-labelledby='bd-theme-text'>
  <li>
    <button
      type='button'
      class='dropdown-item d-flex align-items-center rounded-top-4 py-2'
      data-bs-theme-value='light'
      aria-pressed='false'>
      <i class='bi bi-sun-fill me-3'></i>
      Light
      <svg
        class='bi ms-auto d-none'
        width='1em'
        height='1em'>
        <use href='#check2'></use>
      </svg>
    </button>
  </li>
  <li>
    <button
      type='button'
      class='dropdown-item d-flex align-items-center py-2'
      data-bs-theme-value='dark'
      aria-pressed='true'>
      <i class='bi bi-moon-stars-fill me-3'></i>
      Dark
      <svg
        class='bi ms-auto d-none'
        width='1em'
        height='1em'>
        <use href='#check2'></use>
      </svg>
    </button>
  </li>
  <li>
    <button
      type='button'
      class='dropdown-item d-flex align-items-center py-2'
      data-bs-theme-value='killjoy'
      aria-pressed='false'>
      <i class='bi bi-battery-charging me-3'></i>
      Killjoy
      <svg
        class='bi ms-auto d-none'
        width='1em'
        height='1em'>
        <use href='#check2'></use>
      </svg>
    </button>
  </li>
  <li>
    <button
      type='button'
      class='dropdown-item d-flex align-items-center py-2'
      data-bs-theme-value='auto'
      aria-pressed='false'>
      <i class='bi bi-circle-half me-3'></i>
      Auto
      <svg
        class='bi ms-auto d-none'
        width='1em'
        height='1em'>
        <use href='#check2'></use>
      </svg>
    </button>
  </li>
</ul>
