---
import './LastCall.scss'
---

<section
  class='text-center mt-5'
  id='lastcall'>
  <div class='container-sm'>
    <h2 class='lastcall__h2 display-4'>¡Empieza tu éxito ahora!</h2>
    <div class='col-lg-8 mx-auto'>
      <p class='lastcall__p lead mb-4'>
        Gana la confianza de tus clientes, sobresal de la competencia y llama la
        atención de más clientes ahora mismo.
      </p>
      <div class='d-grid gap-2 d-sm-flex justify-content-sm-center mb-5'>
        <a
          class='Hero-btn btn btn-primary btn-lg px-4 me-0 me-sm-3'
          href='/prices'>
          Precios
        </a>
        <a
          class='Hero-btn btn btn-outline-secondary btn-lg px-4'
          href='/contact'>
          Tarjeta
        </a>
      </div>
    </div>
    <img
      src='/assets/images/projects/MarianoGarciaGz.png'
      class='lastcall__img rounded-top-3 mb-5 mb-md-0 shadow-lg w-100'
      alt='Example image'
      loading='lazy'
    />
  </div>
</section>
