.CardTech {
  height: 18em;
  background: var(--color-white);
  border-color: var(--color-gray);
  border-style: solid !important;
  border-width: 2px;
  &-img {
    object-fit: contain;
    width: fit-content;
    max-height: 40%;
    filter: grayscale(0) opacity(0.9);
    -webkit-filter: grayscale(0) opacity(0.9);
  }
  &-p {
    opacity: 0.8;
    font-size: 0.8em;
  }
}

@media (prefers-color-scheme: dark) {
  .CardTech-img {
    filter: grayscale(1) invert(0.25);
    -webkit-filter: grayscale(1) invert(0.25);
  }
}
