@import "../../../assets/sass/colors";
@import "../../../assets/sass/typography";

.hero {
  overflow: hidden;
  min-height: 100vh;
  height: fit-content;
  &::after {
  }
  &-div {
    min-height: 100vh;
  }
  &-title {
    vertical-align: bottom;
    text-align: center;
    text-wrap: nowrap;
    font-size: calc(3rem + 4.5vw);
    color: var(--color-black);
    font-family: $font-secondary;
    line-height: 60%;
  }
  &-strike {
    font-size: 0.5em;
    text-decoration: none;
    color: var(--color-white);
    -webkit-text-stroke: 1px var(--color-black);
    -webkit-text-fill-color: var(--color-white);
  }
  &-strong {
    color: var(--color-primary);
  }
  &-back-img {
    background-image: url(../../../assets/img/svg/blob.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  &-front-img {
  }
  &-em {
    font-family: $font-tertiary;
    font-size: 0.3em;
  }
  &-chevron {
    transform: translateY(-3rem);
    -webkit-transform: translateY(-3rem);
    -moz-transform: translateY(-3rem);
    -ms-transform: translateY(-3rem);
    -o-transform: translateY(-3rem);
  }
}
