@import '../../../assets/sass/colors';
@import '../../../assets/sass/typography';

.hero {
  max-height: 100vh;
  position: relative;

  /* Text */
  &__title {
    vertical-align: bottom;
    font-size: calc(7em + 7vw);
    text-wrap: pretty;
    text-align: center;
    color: var(--color-black);
    font-family: $font-secondary;
    line-height: 70%;
  }
  &__strike {
    font-size: 0.5em;
    text-decoration: none;
    color: var(--color-white);
    -webkit-text-stroke: 1px var(--color-black);
    -webkit-text-fill-color: var(--color-white);
  }
  &__em {
    font-family: $font-tertiary;
    font-size: 0.3em;
  }
  &__strong {
    color: var(--color-primary);
  }
  &__img-front {
    min-width: 500px;
    z-index: 2;
    mix-blend-mode: overlay;
    // mix-blend-mode: soft-light;
    // mix-blend-mode: multiply;
  }
  &__img-ball {
    min-width: 500px;
    z-index: 0;
  }
  &__photo {
    &--mariano {
      z-index: 2;
    }
    &--ball {
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
  &__text-container {
    z-index: 1;
  }
}
