---
import { contact, social } from '@src/config/settings.json'
---

<div class='row w-100 g-2'>
  <div class='col-12 col-md-6'>
    <button
      type='button'
      class='hero__btn btn btn-primary text-white btn-lg px-4 mt-2 shadow-sm dropdown-toggle w-100'
      data-bs-toggle='dropdown'
      aria-expanded='false'>
      <i class='bi bi-download'></i> CV
    </button>
    <ul class='dropdown-menu p-0 rounded-3 border-0 mt-1'>
      <li>
        <a
          class='dropdown-item rounded-top-3 py-2'
          href='/assets/CV_Mariano_Garcia_ES.pdf'
          download='CV_Mariano_Garcia_ES.pdf'>
          Español 🇲🇽
        </a>
      </li>
      <li>
        <a
          class='dropdown-item rounded-bottom-3 py-2'
          href='/assets/CV_Mariano_Garcia_EN.pdf'
          download='CV_Mariano_Garcia_EN.pdf'>
          English 🇺🇸
        </a>
      </li>
    </ul>
  </div>
  <div class='col-4 col-md-2'>
    <a
      target='_blank'
      rel='noopener noreferrer'
      class='hero__btn btn btn-info text-white btn-lg px-4 mt-2 shadow-sm w-100'
      href={`mailto:${contact.email}`}
      aria-label='Enviar correo electrónico a Mariano García'>
      <i class='bi bi-envelope'></i>
    </a>
  </div>
  <div class='col-4 col-md-2'>
    <a
      target='_blank'
      rel='noopener noreferrer'
      class='hero__btn hero__btn--linkedin text-white btn btn-lg px-4 mt-2 shadow-sm w-100'
      href={social.linkedin}>
      <i class='bi bi-linkedin'></i>
    </a>
  </div>

  <div class='col-4 col-md-2'>
    <a
      target='_blank'
      rel='noopener noreferrer'
      class='hero__btn btn btn-lg btn-dark px-4 text-white mt-2 shadow-sm w-100'
      href={social.github}>
      <i class='bi bi-github'></i>
    </a>
  </div>
</div>
